<% content_for :header do %>
<%= render :partial => 'archive_searches/search_form_small' %>
<div id="searchMetaInformation">
<p>

	
	
  Results <%=@start_count%> to <%=@finish_count%> of <%=@total_count%>
</p>
</div>
<%end%>

<% content_for :col2 do%>
<h4>Address</h4>
The addresses shown are those returned by the Google geocoder
<%end%>

<% content_for :col1 do %>
<div class="content">
	<h1>Address:<%=@results[0].address%></h1>
<ul>
<%for result in @results
metarecord = NatlibMetadata.find_by_natlib_id(result.natlib_metadata_id)
%>
<li class="searchResult">
    <a href="<%=metarecord.landing_url%>"><%=metarecord.title%></a>
    <br/>
<%if !metarecord.thumbnail_url.blank?%><img src="<%=metarecord.thumbnail_url%>" class="searchResultImage"/><%end%>

<p><%=metarecord.description%></p>
<div class="searchByLine">
    <%=hostof(metarecord.landing_url)%> - 
<%=metarecord.content_partner%> - 
<%#metarecord.category%> - 
<%#metarecord.dateinfo%> - 
<%=link_to "Similar Pages", search_archive_searches_url(:q=>metarecord.title)%> -

<%=link_to 'Map', map_natlib_metadata_url(:id=>seo_id(metarecord.natlib_id,metarecord.title))%>

&nbsp;<%=metarecord.natlib_id%> 
</div>
</li>
<%end%>
</ul>
</div>
<%= will_paginate @results %>
<%end%>