<% content_for :header do%>
<%= render :partial => 'archive_searches/search_form_small' %>
<%end%>

<% content_for :col1 do %>

    <%if !@natlib_metadata.thumbnail_url.blank?%>
    <a href="<%=@natlib_metadata.landing_url%>"><img style="float:right;" src="<%=@natlib_metadata.thumbnail_url%>" /></a><%end%>
    <h1><%=@natlib_metadata.title%></h1>

<%=@natlib_metadata.description%>
<%if !@submission.blank?%>
<table>
    <tr>
        <th>Map</th><th>Search Terms</th>
    </tr>
<tr>
    <td>
        <%if !@map.blank?%>
         <%= @map.div(:width => 600, :height => 300) %>
        <%else%>
        No map available
        <%end%>
        <p>
        Area of geohits:
        <%if !@submission.blank?%>
        <%=SubmissionsHelper.pretty_area(@submission.area)%> km&sup2;
        <%else%>No area defined
        <%end%>

		<pre>
			<%=@accuracies.invert.to_yaml%>
		</pre>
		
		<pre>
			****
			<%=@accuracies.to_yaml%>
		</pre>

        </p>
    </td>
    <td>
        <%if @submission.blank?%>
        <p>Record is not geoparsed</p>
        <%else%>
        <table id="searchTermList">
        <tr>
            <th>Matches</th>
            <th>Accuracy</th>
            <th>Address</th>
            <th>Names</th>
			<th>Occurences</th>
        </tr>
        <%for search_term in @search_terms.keys.sort
			freak = @phrase_frequencies[search_term]
			freak = 'Missing' if freak.blank?
		%>
        <tr>
            <td><%=@search_terms[search_term]%></td>
            <td><%=@accuracies[search_term]%></td>
            <td><%=search_term.class%></td>
            <td><%=search_term%></td>
			<td><%=freak%></td>
        </tr>
        <%end%>
    </table>
        <%end%>
        
    
    
    </td>
</tr>
</table>
<%end%>

<%end%>



<% content_for :col2 do %>
	<div id="natlibRecordInformation">
		
	<h3>Digital NZ Metadata</h3>
	<%if !@natlib_metadata.coverages.blank?%>
	<h4>Coverages</h4>
	<ul>
	<%for item in @natlib_metadata.coverages%>
	<li><%=item.name%></li>
	<%end%>
	</ul>
	<%end%>

	<%if !@natlib_metadata.subjects.blank?%>
	<h4>Subjects</h4>
	<ul>
	<%for item in @natlib_metadata.subjects%>
	<li><%=item.name%></li>
	<%end%>
	</ul>
	<%end%>

	<%if !@natlib_metadata.placenames.blank?%>
	<h4>Placenames</h4>
	<ul>
	<%for item in @natlib_metadata.placenames%>
	<li><%=item.name%></li>
	<%end%>
	</ul>
	<%end%>
	
	<div class="infoSpacer">&nbsp;</div>
	
	<h3>Places Found</h3>
	<%for acc in @all_accuracies
		if !@inverted_accuracies[acc.name].blank?
	%>
		<h4><%=acc.name%></h4>
		<ul>
			<%for geoname in @accuracies.keys
			if @accuracies[geoname] == acc.name
				freak = @phrase_frequencies[geoname]
				freak_string = ""
				freak_string = "(#{freak})" if !freak.blank?
			%>
			<li><%=geoname%><%=freak_string%></li>
			<%
			end
			end%>
		</ul>
	<%
		end
	end
	%>
	<ul>
	<%for search_term in @search_terms.keys.sort
		freak = @phrase_frequencies[search_term]
		freak = 'Missing' if freak.blank?
		accuracy=@search_terms[search_term]
	%>
BLAh
    <%end%>
 	</ul>
	
	<h3>Rejected Terms</h3>	
	<%if !@removed_by_calais.blank?%>
		<h4>Open Calais</h4>
		<ul>
		<%for calais in @removed_by_calais%>
			<li><%=calais.phrase.words%></li>
		<%end%>
		</ul>
    <%end%>

	<%if !@too_short.blank?%>
		<h4>Too Short</h4>
		<ul>
		<%for item in @too_short%>
			<li><%=item.phrase.words%></li>
		<%end%>
		</ul>
    <%end%>

	<%if !@no_matches.blank?%>
		<h4>No Geo Matches</h4>
		<ul>
		<%for item in @no_matches%>
			<li><%=item.phrase.words%></li>
		<%end%>
		</ul>
    <%end%>

	<%if !@stopped.blank?%>
		<h4>Stopped</h4>
		<ul>
		<%for item in @stopped%>
			<li><%=item.phrase.words%></li>
		<%end%>
		</ul>
    <%end%>

	<%if !@geoparser_failed.blank?%>
		<h4>Geoparser Failed</h4>
		<ul>
		<%for item in @geoparser_failed%>
			<li><%=item.phrase.words%></li>
		<%end%>
		</ul>
    <%end%>



	

	
	
	</div>
<%end%>	

