<% content_for :header do%>
<%= render :partial => 'archive_searches/search_form_small' %>
<%end%>

<% content_for :col1 do %>
<div class="content">
    <%if !@natlib_metadata.thumbnail_url.blank?%>
    <a href="<%=@natlib_metadata.landing_url%>"><img style="float:right;" src="<%=@natlib_metadata.thumbnail_url%>" /></a><%end%>
    <h1><%=@natlib_metadata.title%></h1>
<div class="metadataDescription">
<%=@natlib_metadata.description%>
</div>

<%if !@submission.blank?%>

        <%if !@map.blank?%>
         <%= @map.div(:width => 600, :height => 300) %>
        <%else%>
        No map available
        <%end%>

<div id="geonameFrequencies">
		<%for geoname in @accuracies.keys
			freak = @phrase_frequencies[geoname]
			the_size = 7+1.5*freak
		%>
		<span class="geonameFrequency" style="font-size: <%=the_size%>pt;"><%=geoname%></span>
		<%
		end%>
</div>
</div>
<%end%>

<div class="extractedText">
	<h2>Extracted Metadata Text</h2>
	<p>The following text was collated from the metadata and used for geoparsing:</p>
	<%for paras in @natlib_metadata.geo_text.split('\n')%>
	<%end%>
<pre>
<%=@natlib_metadata.geo_text%></pre>
</div>
<%end%>



<% content_for :col2 do %>
	<div id="natlibRecordInformation">
		
	<h3>Digital NZ Metadata</h3>
	<h4>Record Number</h4>
	<ul>
	<li><%=@natlib_metadata.natlib_id%></li>
	</ul>
	<h4>Content Partner</h4>
	<ul>
	<li><%=@natlib_metadata.content_partner %></li>
	</ul>
	<h4>Collection</h4>
	<ul>
	<li><%=@natlib_metadata.collection%></li>
	</ul>

	<%if !@natlib_metadata.coverages.blank?%>
	<h4>Coverages</h4>
	<ul>
	<%for item in @natlib_metadata.coverages%>
	<li><%=item.name%></li>
	<%end%>
	</ul>
	<%end%>

	<%if !@natlib_metadata.subjects.blank?%>
	<h4>Subjects</h4>
	<ul>
	<%for item in @natlib_metadata.subjects%>
	<li><%=item.name%></li>
	<%end%>
	</ul>
	<%end%>

	<%if !@natlib_metadata.placenames.blank?%>
	<h4>Placenames</h4>
	<ul>
	<%for item in @natlib_metadata.placenames%>
	<li><%=item.name%></li>
	<%end%>
	</ul>
	<%end%>
	
	<div class="infoSpacer">&nbsp;</div>
	
	<h3>Places Found</h3>
	<%for acc in @all_accuracies
		if !@inverted_accuracies[acc.name].blank?
	%>
		<h4><%=acc.name%></h4>
		<ul>
			<%for geoname in @accuracies.keys
			if @accuracies[geoname] == acc.name
				freak = @phrase_frequencies[geoname]
				freak_string = ""
				freak_string = " (#{freak})" if !freak.blank?
			%>
			<li><%=geoname%></li>
			<%
			end
			end%>
		</ul>
	<%
		end
	end
	%>
	
	<h3>Area</h3>
	<ul><li><%=SubmissionsHelper.pretty_area(@submission.area)%></li></ul>

	
	<h3>Rejected Terms</h3>	
	<%if !@removed_by_calais.blank?%>
		<h4>Open Calais</h4>
		<ul>
		<%for calais in @removed_by_calais%>
			<li><%=calais.phrase.words%></li>
		<%end%>
		</ul>
    <%end%>

	<%if !@too_short.blank?%>
		<h4>Too Short</h4>
		<ul>
		<%for item in @too_short%>
			<li><%=item.phrase.words%></li>
		<%end%>
		</ul>
    <%end%>

	<%if !@no_matches.blank?%>
		<h4>No Geo Matches</h4>
		<ul>
		<%for item in @no_matches%>
			<li><%=item.phrase.words%></li>
		<%end%>
		</ul>
    <%end%>

	<%if !@stopped.blank?%>
		<h4>Stopped</h4>
		<ul>
		<%for item in @stopped%>
			<li><%=item.phrase.words%></li>
		<%end%>
		</ul>
    <%end%>

	<%if !@geoparser_failed.blank?%>
		<h4>Geoparser Failed</h4>
		<ul>
		<%for item in @geoparser_failed%>
			<li><%=item.phrase.words%></li>
		<%end%>
		</ul>
    <%end%>



	

	
	
	</div>
<%end%>	

