<% content_for :header do%>
<%set_title "Map and Metadata for Record #{@natlib_metadata.natlib_id}, #{@natlib_metadata.title}"%>
<%= render :partial => 'archive_searches/search_form_small' %>
<%end%>

<% content_for :col3 do%>
<div id="geoparsingInformation">

<%if !@natlib_metadata.thumbnail_url.blank?%>
<div id="recordThumbnailContainer">
	<h4>Photo</h4>
<a href="<%=@natlib_metadata.landing_url%>">
<img src="<%=@natlib_metadata.thumbnail_url%>" alt="Image for record of title <%=@natlib_metadata.title%>" />
</a>
</div>
<%end%>

<%if !@inverted_accuracies.blank?%>

	<h4>Places Found</h4>
	<%for acc in @all_accuracies
		if !@inverted_accuracies[acc.name].blank?
	%>
	<p class="portletBoxHeader"><%=acc.name%></p>
	
		<div class="portletBox">
			<ul>
				<%for geoname in @accuracies.keys
				if @accuracies[geoname] == acc.name
					freak = @phrase_frequencies[geoname]
					freak_string = ""
					freak_string = " (#{freak})" if !freak.blank?
				%>
				<li><%=geoname%></li>
				<%
				end
				end%>
			</ul>
		</div>
	<%
		end
	end
%>
</div>
<%
end
%>

<h4>Rejected Terms</h4>	
<%if !@removed_by_calais.blank?%>
	<p class="portletBoxHeader">Open Calais</p>
	<div class="portletBox">
	<ul>
	<%for calais in @removed_by_calais%>
		<li><%=calais.phrase.words%></li>
	<%end%>
	</ul>
	</div>
<%end%>

<%if !@too_short.blank?%>
	<p class="portletBoxHeader">Too Short</p>
	<div class="portletBox">
	<ul>
	<%for item in @too_short%>
		<li><%=item.phrase.words%></li>
	<%end%>
	</ul>
	</div>
<%end%>

<%if !@no_matches.blank?%>
<p class="portletBoxHeader">No Geo Matches</p>
<div class="portletBox">
	<ul>
	<%for item in @no_matches%>
		<li><%=item.phrase.words%></li>
	<%end%>
	</ul>
</div>
<%end%>


<%if !@stopped.blank?%>
<p class="portletBoxHeader">Stopped</p>
<div class="portletBox">
	<ul>
	<%for item in @stopped%>
		<li><%=item.phrase.words%></li>
	<%end%>
	</ul>
<%end%>
</div>

<%if !@geoparser_failed.blank?%>
<p class="portletBoxHeader">Geoparser Failed</p>
<div class="portletBox">
<ul>
	<%for item in @geoparser_failed%>
		<li><%=item.phrase.words%></li>
	<%end%>
	</ul>
<%end%>
<%end%>

<% content_for :col1 do %>
<div class="content">
    <h1><%=@natlib_metadata.title%></h1>
	<div class="metadataDescription">
		<%=@natlib_metadata.description%>
	</div>
	
	<%if !@submission.blank?%>
		<div id="mapAndGeoparsingInformation" class="centreItem">
			<div id="mapShadow">
		        <%if !@map.blank?%>
		         <%= @map.div(:width => 640, :height => 500) %>
		        <%else%>
		        No map available
		        <%end%>
				<div id="geonameFrequencies">
					<%for words in @phrases
						freak = @phrase_frequencies[words]
						tooltip = "#{freak} occurences found in source text"
						n_results_color = '0';
						the_size = 7+2*freak.to_f
						non_geo_string = ''
						if @accuracies[words].blank?
							non_geo_string = ' nongeo'
							tooltip << "\nNo location found"
							n_results_color='f00';
						else
							n_places = @n_places_for_terms[words]
							tooltip << "\nLocation found #{n_places}"
							#Green for good, red for bad
							if n_places <= 11
								n_results_color = ['0f0','2d0','4b0','690','870','a50','b40','c30','e10','f00'][n_places-1]
							else
								n_results_color = 'f00' #Red enough
							end
						end
					%>
					<span class="geonameFrequency<%=non_geo_string%>" style="font-size: <%=the_size%>pt; color:#<%=n_results_color%>;" title="<%=tooltip%>"><%=words%></span>
					<%
					end%>
				</div><!-- end of geoname freqs -->
			</div><!-- end of map shadow -->
		</div><!-- end of map and geo parsing information -->
	<%end%>
	
	
	<div class="extractedText">
		<h2>Extracted Metadata Text</h2>
		<p>The following text was collated from the metadata and used for geoparsing:</p>
		<div class="metatext">
			<%for para in @natlib_metadata.geo_text(true)%>
				<p><%=para%></p>
			<%end%>
		</div>
	</div><!-- end of extracted text -->

</div><!-- end of content div -->
<%end%>



<% content_for :col2 do %>
	<div id="natlibRecordInformation">
		
	<h4>Digital NZ Metadata</h4>
	<p class="portletBoxHeader">Record Number</p>
	
	<div class="portletBox">
		<ul>
			<li><%=@natlib_metadata.natlib_id%></li>
		</ul>
	</div>
	
	<p class="portletBoxHeader">Content Partner</p>
	
	<div class="portletBox">
		<ul>
		<%for content_partner in @natlib_metadata.content_partners%>
	<li><%=link_to content_partner.name, facet_search_url( :q => 'content_partner', :facets => [ content_partner.permalink])%></li>
	<%end%>
		</ul>
	</div>
	
	
	
	<p class="portletBoxHeader">Collection</p>
	<div class="portletBox">
		<ul>
			<%for collection in @natlib_metadata.collections%>
					<li><%=link_to collection.name, facet_search_url( :q => "collection: \"#{collection.name}\"")%></li>

			<%end%>
		</ul>
	</div>



	<%if !@natlib_metadata.coverages.blank?%>
	<p class="portletBoxHeader">Coverages</p>
	
	<div class="portletBox">
	
	<ul>
	<%for item in @natlib_metadata.coverages%>
	<li><%=link_to item.name, geo_property_single_url(:property_name=>'coverage', :permalink => item.permalink)%></li>
	<%end%>
	</ul>
	</div>
	<%end%>

	<%if !@natlib_metadata.subjects.blank?%>
	<p class="portletBoxHeader">Subjects</p>
	<div class="portletBox">
	<ul>
	<%for item in @natlib_metadata.subjects%>
	<li>
		<%=link_to item.name, search_url( :q => "subject: \"#{item.name}\"")%></li>
	<%end%>
	</ul>
	</div>
	<%end%>

	<%if !@natlib_metadata.placenames.blank?%>
	<p class="portletBoxHeader">Placenames</p>
	<div class="portletBox">
	<ul>
	<%for item in @natlib_metadata.placenames%>
		<li><%=link_to item.name, search_url( :q => "placename: \"#{item.name}\"")%></li>
	<%end%>
	</ul>
	</div>
	<%end%>
	

	
	<% if !@submission.blank?%>
	<p class="portletBoxHeader">Area</p>
	<div class="portletBox">
	<ul><li><%=SubmissionsHelper.pretty_area(@submission.area)%></li></ul>
	</div>
	
	

	<%if !@calais_hash.keys.blank?%>
			<h4>Open Calais Derived Metadata</h4>
			<%for key in @calais_hash.keys%>
				<p class="portletBoxHeader"><%=key.word%></p>
				<div class="portletBox">
				<ul>
				<%for child in @calais_hash[key]%>
					<li><%=link_to child.word, 
						  calais_child_url(:child_permalink => child.permalink,
						:parent_permalink => key.permalink
							)%></li>
				<%end%>
				</ul>
				</div>
			<%end%>
    <%end%>
	<%end%>



	

	
	
	</div>
<%end%>	

