<%
@active_tab = :home if @active_tab.blank?
tabs = {
	'Home' => '/',
	'Explore' => '/search',
	'Open Calais' => '/opencalais'
}
%>
<div id="header"> 
 	<%=yield :header %>
    <div id="logo">&nbsp;</div> 
 	<ul> 
		<li>ACTIVE=<%=@active_tab%></li>
		<%for tabname in tabs.keys
		class_string = ''
		class_string = " class='active'" if tabname.titleize.singularize.to_sym == @active_tab
		%>
        	<li><a href="<%=tabs[tabname]%>"<%=class_string%>><%=tabname%></a></li> 
    	<%end%>
     </ul> 
</div> i	
<div id="headerUnderFooter">&nbsp;</div>