<%cache "STANDARDNATLIBRESULT:#{record.natlib_id}" do%>
<li class="searchResult">
    <a href="<%=record.landing_url%>"><%=record.title%></a>
    <br/>
<%if !record.thumbnail_url.blank?%><img src="<%=record.thumbnail_url%>" class="searchResultImage"/><%end%>

<p><%=record.description%></p>
<div class="searchByLine">
    <%=hostof(record.landing_url)%> - <%=record.contributors.map{|t|t.name}.join(', ')%> - <%=record.categories.map{|t|t.name}.join(', ')%> - <%=record.dateinfo%> - <%=link_to "Similar Pages", search_archive_searches_url(:q=>record.title)%> -
<%if record.pending %>
Not Geoparsed
<%elsif !record.submission.blank?
id_string = seo_id(record.natlib_id, record.title)
%>
<%=link_to 'Map', natlib_map_url(:permalink=>record.permalink)%><%else%>
<%=link_to 'Metadata', natlib_map_url(:permalink=>record.permalink)%><%end%>
&nbsp;<%=record.natlib_id%> 
</div>
</li>
<%end%>
