<% content_for :header do%>
<%set_title "#{@clazz.to_s.pluralize},  page #{@page} of #{@n_pages} - Geoparsed Records"%>
<%= render :partial => 'archive_searches/search_form_small' %>
<%end%>

<% content_for :col1 do%>
	<div id="content">
		<h1><%=@plural_name%></h1>
		<ul id="natlibPropertyList">
			
		<%for property in @properties%>
			<li><a href="/geoparsed/metadata/<%=@clazz.to_s.tableize.singularize%>/<%=property.permalink%>"><%=property.name%></a></li>
		<%end%>
			
		</ul>
	</div>
	
	<%= will_paginate @properties %>
	
<%end%>

<% content_for :col2 do%>
<%= render :partial => 'shared/geoparsedinfo/'+@clazz.to_s.tableize.singularize+'.erb'%>
<%end%>