<div id="facetsColumn">
    <%for facet in @facets
    facet_parent_name = facet['facet_field']
    facet_already_chosen = !@filters[facet_parent_name].blank?
    %>
    <div class="facetField">
    <%if facet_already_chosen
        child_facet = @filters[facet_parent_name]
        fparam = "&f[]=#{child_facet.id}"
        link = '/search/'+@archive_search.search_text+'/?'+@previous_params
        link << @facet_params_chosen.gsub(fparam,'')
        %>
        <h5><%=FacetFieldsHelper.parent_facet_name(facet_parent_name)%></h5>
        <ul>
            <%for value in facet['values']
            child_facet_result = @child_facet_fields[value['name']]
            if child_facet_result['name'] == child_facet.name
            %>
            <li>
                &raquo; <%=child_facet_result['name'] %> (<%=value['num_results']%>)
            </li>
            <%  break
                end
            end%>
        </ul>
    </div>
    <%else
		n_facets_found = facet['values'].length
		css_id = "facet_panel_#{facet_parent_name}"
		
		if n_facets_found > 0
			visibility = n_facets_found <= 20
			hidden_html = ''
			onclick = ''
			padding =  ''
			if !visibility
				hidden_html = 'style="display:none;"' if !visibility
				#onclick = "onclick=\"alert('#{css_id}');\""
				onclick = "onclick=\"document.getElementById('#{css_id}').style.display='block'; document.getElementById('expander_#{css_id}').style.display='none';\""
				padding='style="padding-bottom:10px;"'
			end
%>
    <h5><%=facet_parent_name.camelize%> (<%=n_facets_found%>)</h5>
	<%if !visibility%>
	<ul id="expander_<%=css_id%>"><li><a href="#" <%=onclick%>>+Show all</a></li></ul>
	<%end%>
	
    <ul <%=hidden_html%> id="<%=css_id%>">
        <%for value in facet['values']
        child_facet = @child_facet_fields[value['name']]
        link = '/search/'+@archive_search.search_text+'/?' + @previous_params+'&f[]='+child_facet.id.to_s
        link << @facet_params_chosen
        %>
        <li>
            <a href="<%=link%>"><%=value['name']%></a> (<%=value['num_results']%>)
        </li>
        <%end%>
    </ul>
	<%end%>
    </div>
    <%end%>
    <%end%>
    
    <div>
        <pre>
            
        </pre>
    </div>
</div>