<%
width = 4 #A la google

lightBoxHeight = 160* (@digital_nz_search_result.results.length / width)
%>
<div id="lightBox" style="height:<%=lightBoxHeight%>px;">
<ul class="polaroids"> 
<%
ctr = 0
rowctr = -1
colctr = 0
for result in @digital_nz_search_result.results
    metarecord = @metadata_records[result.id]
    %>
<%cache "IMAGERESULT:#{metarecord.natlib_id}" do%>
<%
newrowclass=''
if (ctr % 4) == 0
	newrowclass=' newrow'
	rowctr = rowctr+1
	colctr = 0
end



turn = rand(10)-5
%>
    <li>
		<div class="imageSlide<%=newrowclass%>">
        <a href="<%=result.display_url%>" 
			style=" position: absolute; top: <%=rowctr*150%>px; left: <%=colctr*190%>px;
			-moz-transform: rotate(<%=turn%>deg);
			 -webkit-transform: rotate(<%=turn%>deg);"
	title="<%=metarecord.title%>"><img src="<%=result.thumbnail_url%>"
	alt="<%=metarecord.title%>"/></a>
        </div>
    </li>

<%

colctr = colctr + 1
ctr = ctr + 1
end
%>
    <%

end
%>
    
</ul>
</div>