<ul>
<%for result in @digital_nz_search_result.results
metarecord = @metadata_records[result.id]
%>
<li class="searchResult">
    <a href="<%=result.display_url%>"><%=result.title%></a>
    <br/>
<%if !result.thumbnail_url.blank?%><img src="<%=result.thumbnail_url%>" class="searchResultImage"/><%end%>

<p><%=metarecord.description%></p>
<div class="searchByLine">
    <%=hostof(result.display_url)%> - <%=result.content_provider%> - <%=result.category%> - <%=metarecord.dateinfo%> - <%=link_to "Similar Pages", search_archive_searches_url(:q=>result.title)%> -
<%if metarecord.pending %>
Not Geoparsed
<%elsif !metarecord.submission.blank?%>
<%=link_to 'Map', map_natlib_metadata_url(:id=>metarecord.natlib_id)%>
<%else%>
<%=link_to 'Metadata', map_natlib_metadata_url(:id=>metarecord.natlib_id)%>
<%end%>
&nbsp;<%=result.id%> 
</div>
</li>
<%end%>
</ul>