<ul>
<%for result in @digital_nz_search_result.results
metarecord = @metadata_records[result.id]
%>
<%cache "NONIMAGERESULT:#{metarecord.natlib_id}" do%>
<li class="searchResult">
    <a href="<%=result.display_url%>"><%=result.title%></a>
    <br/>
<%if !result.thumbnail_url.blank?%><img src="<%=result.thumbnail_url%>" class="searchResultImage"/><%end%>

<p><%=metarecord.description%></p>
<div class="searchByLine">
    <%=hostof(result.display_url)%> - <%=result.content_provider%> - <%=result.category%> - <%=metarecord.dateinfo%> - <%=link_to "Similar Pages", similar_archive_searches_url(:id=>metarecord.permalink)%> -
<%if metarecord.pending %>
Not Geoparsed
<%elsif !metarecord.submission.blank?
id_string = seo_id(metarecord.natlib_id, metarecord.title)
%>
<%=link_to 'Map', natlib_map_url(:permalink=>metarecord.permalink)%>
<%else%>
<%=link_to 'Metadata', natlib_map_url(:permalink=>metarecord.permalink)%>
<%end%>
&nbsp;<%=result.id%> 
</div>
</li>
<%end%>
<%end%>
</ul>