<div id="searchPanelSmall">
<div>
<% form_for(@archive_search, :url => search_archive_searches_url,:html => {:method => :post}) do |f| %>
  <p>
    <%= f.text_field :search_text,  :size => 60 %>
<%if !@filter_params.blank?%>
	<%= f.hidden_field :filter_ids, :value => @filter_params.join(',')%>
<%end%>
	<%= f.submit "Search" %>
  </p>
<% end %>
</div>
<%if !@facets.blank?%>
<%
for facet in @facets
facet_parent_name = facet['facet_field']
facet_already_chosen = !@filters[facet_parent_name].blank?
if facet_already_chosen
	facets_to_filter = {}
	child_facet = @filters[facet_parent_name]
    
	for key in @filters.keys
		filtered_facet = @filters[key]
		facets_to_filter[filtered_facet.permalink] = filtered_facet if filtered_facet != child_facet
	end
	
    fparam = "&f[]=#{child_facet.id}"
	if !@archive_search.search_text.blank?
		link = '/search/'+@archive_search.search_text+FacetFieldsHelper.facets_to_seo_url(facets_to_filter)
	else
		link = '/search'+FacetFieldsHelper.facets_to_seo_url(facets_to_filter)
	end
    tooltip_cancel = "Remove #{facet_parent_name} filter '#{child_facet.name}' from current search"
	tooltip_current = "Your search is currently filtered by #{facet_parent_name}:#{child_facet.name}"
%>

<span class="facetFilter"><a href="<%=link%>" title="<%=tooltip_cancel%>" class="cancelFacet">x</a><span title="<%=tooltip_current%>">
<%=child_facet.name%></span></span>
<%
end
end
%>	
<%end%>
</div>

