<div class="searchPanel">
    <%= render :partial => 'search_form' %>
</div>

	

<% content_for :col1 do%>
	<div class="indentedContent"> 
	<form action="http://digitalnzgeoparser.tripodtravel.co.nz/archive_searches/search" class="new_archive_search" id="new_archive_search" method="post"><div style="margin:0;padding:0"><input name="authenticity_token" type="hidden" value="9kWxewJJfi6u5mM6amxPMFgQQFGUaLvCoc0HG3gErak=" /></div> 
	  <p> 
	    <input id="archive_search_search_text" name="archive_search[search_text]" class="input" size="30" type="text" /> 

	    <input id="archive_search_submit" name="commit" class="super button" type="submit" value="Search »" /> 
	  </p> 
	</form> 
</div> 

<div class="fromTheArchive"> 
	<div class="slideshow" id="slideshow1">
	<%for nl in @random_images%>
				<a href="/map/<%=nl.permalink%>" title="<%=nl.title%>">
				<img src="<%=nl.thumbnail_url%>" alt="<%=nl.title%>" /> 
	            </a>
	<%end%>
		</div> 
</div>
<%end%>

<% content_for :col2 do%>
<div id="map"> 
	<img src="/images/nz2.png" alt="Map of New Zealand"/> 
</div>

<script type="text/javascript"> 


$(function() {
    <%for i in 0..4%>
    $('#slideshow<%=i%>').cycle({
        delay: -<%=2000+i*200%>,
        speed: 600,
        before: onBefore
    });
	<%end%>
    

    
    function onBefore() {
        $('#title').html(this.alt);
    }
});
</script>
<%end%>