<div class="searchPanel">
    <%= render :partial => 'search_form' %>
</div>

	

<% content_for :col1 do%>
	<div class="indentedContent"> 
	<% form_for(@archive_search, :url => search_archive_searches_url,:html => {:method => :post}) do |f| %>
	  <p>
	    <%= f.text_field :search_text,  {:class=>'input', :size => 30} %>

	    <%= f.submit "Search", :class => 'button' %>
	  </p>
	<% end %>
</div> 

<div class="fromTheArchive"> 
	<div class="slideshow" id="slideshow1">
	<%for nl in @random_images%>
				<a href="/map/<%=nl.permalink%>" title="<%=nl.title%>">
				<img src="<%=nl.thumbnail_url%>" alt="<%=nl.title%>" /> 
	            </a>
	<%end%>
		</div> 
</div>
<%end%>

<% content_for :col2 do%>
<div id="map"> 
	<img src="/images/nz2.png" alt="Map of New Zealand"/> 
</div>

<script type="text/javascript"> 


$(function() {
    <%for i in 0..4%>
    $('#slideshow<%=i%>').cycle({
        delay: -<%=2000+i*200%>,
        speed: 600,
        before: onBefore
    });
	<%end%>
    

    
    function onBefore() {
        $('#title').html(this.alt);
    }
});
</script>
<%end%>