<% content_for :header do %>
<%= render :partial => 'search_form_small' %>
<div id="searchMetaInformation">
<p>
   Results <%=1+@digital_nz_search_result.start%> - <%=@n_last_result_on_page%> of about <%=@digital_nz_search_result.count%> for '<%=@archive_search.search_text%>'. (<%=@elapsed_time%> seconds) 
</p>
</div>
<%end%>




<% content_for :col1 do %>
    <div id="searchResultsColumn">
    <%if !@images_category%>
        <%= render :partial => 'non_image_results'%>
    <%else%>
        <%= render :partial => 'image_results'%>
    <%end%>
    
    </div>
    <%=render :partial => 'page_links'%>
<%end%>

<% content_for :col2 do %>
<%=render :partial => 'facets'%>
<% end %>



