<% content_for :header do%>
<%set_title "Search FIXME"%>
<%= render :partial => 'archive_searches/search_form_small' %>
<%end%>

<% content_for :col1 do %>
<%if @error_message.blank?%>

    <div id="searchResultsColumn">
    <%if !@images_category%>
        <%= render :partial => 'non_image_results'%>
    <%else%>
        <%= render :partial => 'image_results'%>
    <%end%>
    
    </div>
    <%=render :partial => 'page_links'%>
	<%else%>
	An error occurred contacting the Digital NZ servers: <%=@error_message%>
	<%end%>
<%end%>

<% content_for :col2 do %>
<%if @error_message.blank?%>
<%=render :partial => 'facets'%>
<%end%>
<% end %>

<% content_for :col3 do%>
<p>This is column 3.  This is column 3.  This is column 3.  This is column 3.  This is column 3.  This is column 3.  This is column 3.  This is column 3.  </p>
<%end%>



