<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Digital NZ Search</title> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%=stylesheet_link_tag 'layout2col_search_results'%>
<%=stylesheet_link_tag 'typography'%>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js">
</script>
		<script src="http://localhost:3000/javascripts/jquery.cycle.all.min.js?1257313246" type="text/javascript">
</script><!--[if lt IE 7]>
	<style media="screen" type="text/css">
	.col1 {
		width:100%;
	}
	</style>
	<![endif]-->
		<script type="text/javascript">
//<![CDATA[



		$(function() {

		$('#slideshow1').cycle({
			delay: -2000,
			speed: 3000,
			before: onBefore
		});






		function onBefore() {
			$('#title').html(this.alt);
		}
		});
		//]]>
		</script>
	</head>
	<body>
	    
		<%= render :partial => 'shared/header'%>

		<div class="colmask holygrail">
			<div class="colmid">
				<div class="colleft">
					<div class="col1wrap">
						<div class="col1">
							<!-- Column 1 start -->
							<%= yield :col1 %>
							<!-- Column 1 end -->
						</div>
					</div>
					<div class="col2">
						<!-- Column 2 start -->
							<%= yield :col2 %>
						<!-- Column 2 end -->
					</div>
					<div class="col3">
						<%=yield :col3%>
					</div>
				</div>
			</div>
		</div>
	
		<%=render :partial => 'shared/footer.erb'%>
		<%= render :partial => 'shared/google_analytics'%>

	</body>
</html>
