<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%=@title%></title>
<%= GMap.header(:host => request.host) %>
<%if !@map.blank?%>
<%= @map.to_html %>
<%end%>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%=stylesheet_link_tag 'layout3col'%>
<%=stylesheet_link_tag 'typography'%>

<%= javascript_include_tag :defaults %>

</head>
<body>
<%= render :partial => 'shared/header'%>
<%= render :partial => 'shared/google_analytics'%>

<div class="colmask holygrail">
	<div class="colmid">
		<div class="colleft">
			<div class="col1wrap">
				<div class="col1">
					<!-- Column 1 start -->
					<%= yield :col1 %>
					<!-- Column 1 end -->
				</div>
			</div>
			<div class="col2">
				<!-- Column 2 start -->
					<%= yield :col2 %>
				<!-- Column 2 end -->
			</div>
			<div class="col3">
				<%= yield :col3 %>
			</div>
		</div>
	</div>
</div>
	
		<%=render :partial => 'shared/footer.erb'%>

	</body>
</html>
